/*
  This is the custom css file to style
  all swiper realted elements.
*/

.swiper-container {
    width: 90%;
}

.swiper-slide {
  background-color: #fff;
  overflow-y: hidden;
}

.img-col {
  height: 100%;
}

.info-img {
  height: 100%;
  width: 100%; 
  background-size: cover;
}

.swiper-title {
  font-size: 1.5em;
  font-style: italic;
  text-align: left;
  margin: 40px 0 20px 0;
}

.btn-container {
  display: table;
  max-width: 100%;
  height: 100%;
  float: right;
}
.info-box-btn {
  display: table-cell;
  text-align: center;
  background-color: #ffcc67;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-color: #ffcc67;
  border: 0;
  color: #fff;
  font-size: 3em;
}
.info-box-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ffba4d;
  transition: 300ms;
}

.news-btn {
  height: 40px;
}

.swiper-nav {
text-align: center;
  margin: 20px 0;
}

/* Pagnination */
.swiper-pagination {
  margin-top: 10px;
  position: relative;
  display: inline
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background-color: transparent;
  border-right: 1px solid #545454;
  border-radius: 0;

}

.swiper-pagination-bullet:last-child {
  border: none;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px;
  display: inline-block; 
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ffcc67;
}

/* Nav Buttons */
.button-prev,
.button-next {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #afafaf;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.button-prev:hover,
.button-next:hover {
  background-color: #ffcc67;
  transition: 300ms;
}

.button-prev > img,
.button-next > img {
  width: auto;
  height: inherit;
  padding: 10%
}

/* Media Queries */

@media (max-width: 768px) {
  .swiper-container {
    height: 490px;
  }
  
  .img-col {
    height: 200px;
    width: 100%; 
  }

  .btn-container {
    float: right;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .swiper-container {
    height: 390px;
  }
  
  .news-container,
  .btn-container {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .swiper-container {
    height: 470px;
  }
  
  .news-container,
  .btn-container {
    height: 220px;
  }
}